<!doctype html>
<html xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="utf-8">
    <title>administor</title>
    <link rel="stylesheet" type="text/css" href="../public/css/base.css" />
    <link rel="stylesheet" type="text/css" href="../public/css/container.css" />
    <link rel="stylesheet" type="text/css" href="../public/css/login.css" />
    <link rel="stylesheet" type="text/css" href="../public/css/menu.css" />
    <script type="text/javascript" src="../public/js/jquery-1.12.2.min.js"></script>
    <script type="text/javascript" src="../public/js/pptBox.js"></script>
</head>
<body>
<div class="ui-wrap">
    <div class="ui-header">
        <h1 class="houtai-title">欢迎来到天水旅游网站后台界面！！！</h1>
    </div>
    <div class="ui-container ui-houtai">
        <form action="" method="post">
            <div class="admin-login">
                <h3 class="admin-title">管理员登录</h3>
                <p class=""><label class="admin-title-input">用户名</label><input type="text" placeholder="请输入管理员用户名"/></p>
                <p class=""><label class="admin-title-input">密码</label><input type="password" placeholder="请输入密码"/></p>
                <a class="admin-sub" type="button" href="./eat-menu.html">登录</a>
                <a class="admin-sub" type="button" href="./main.html">返回首页</a>
            </div>
        </form>
    </div>
    <div class="ui-footer">

    </div>
</div>
</body>
</html>


