<!doctype html>
<html xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="utf-8">
    <title>administor</title>
    <link rel="stylesheet" type="text/css" href="../public/css/base.css" />
    <link rel="stylesheet" type="text/css" href="../public/css/container.css" />
    <link rel="stylesheet" type="text/css" href="../public/css/login.css" />
    <link rel="stylesheet" type="text/css" href="../public/css/menu.css" />
    <script type="text/javascript" src="../public/js/jquery-1.12.2.min.js"></script>
    <script type="text/javascript" src="../public/js/pptBox.js"></script>
</head>
<body>
<div class="ui-wrap">
    <div class="ui-header">
        <h1 class="houtai-title">欢迎来到天水旅游网站后台界面！！！</h1>
    </div>
    <div class="ui-container ui-houtai">
        <div class="ui-menus-title">
            <h2 class="ui-erjimenu">二级菜单</h2>
            <a class="ui-erjimenu-type" href="plances-menu.html">旅游景点</a>
            <a class="ui-erjimenu-type" href="eat-menu.html">特色小吃</a>
            <a class="ui-erjimenu-type" href="menu.html">新闻菜单</a>
            <a class="ui-erjimenu-type" href="travel-menu.html">旅游评论</a>

        </div>
        <div class="ui-menus-con">
            <form class="menu-form">
                <p class="menus-con"><lable class="new-title">景点名称</lable><input class="new-title-word" placeholder="景点名称"/></p>
                <p class="menus-con con-top"><lable class="new-title con-line">景点内容</lable><textarea class="new-title-word ui-text" ></textarea></p>
                <button class="add-button" type="submit">添加</button>
            </form>

        </div>
    </div>
    <div class="ui-footer">

    </div>
</div>
</body>
</html>


